<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="container">
  <div class="p-3 mb-2 bg-success text-white">Araba Listesi</div>
  <ul class="list-group">
    <li *ngFor="let car of cars" class="list-group-item" [class]="getCurrentCar(car)" (click)="setCurrentCar(car)" routerLink="/cars/car/{{ car.id }}">
      <h4>{{ car.description }}</h4>
      <p>Model Yılı: {{ car.modelYear }}</p>
      <p>Günlük Ücret: {{ car.dailyPrice }} TL</p>
    </li>
  </ul>
</div>






